<?xml version="1.0"?>
<config>
    <modules>
      <DL_ApiConfig>
            <version>0.1.0</version>
        </DL_ApiConfig>
    </modules>

    <default>
        <dream>
            <general>
                <dl_username></dl_username>
				<dl_userpass></dl_userpass>
				<dl_userid></dl_userid>
            </general>
        </dream>
    </default>
</config>